The goal of this application, "Munch Classics Universe" (MCU), is to host a shared listing of classic movies and track which movies users have watched with their kids.

Technical requirements:
- It must be a modern web application that is mobile friendly.
- I must run on Azure as cheaply as possible
- The web application will have a DNS CNAME of mcu.dotheneedful.dev
- It must have authentication based upon Discord similar to other projects like MunchHatMap (found in ../munchhatmap)

Business requirements:
- Authenticated users can access the web app
- Users can add movies to the list of movies contained in the application
- All users can see the movies that others have added
- Users will be able to see an alphabetical list of movies they have marked as watched.
- Users will be able to see "Munch Watched Movies", ordered by the number of unique users who marked each movie as watched.
- Movies with the same watcher count will share a rank and be displayed alphabetically.
- The system must not allow duplicate movies to be added, each movie should be associated with and have a link to an IMDB URL for the movie.
- Metadata for a selected movie should brought into the database from the internet. The data should include Movie Poster, Rating, Release Year, Publisher/Movie Studio
- When adding a movie a search box should validate against existing movies in the database (to avoid duplicates) as well as search IMDB for suggestions for selection.
- Filters will be available to filter the view by metadata
- Each user will be able to "check off" a movie indicating that they have watched it with their kids.
